@model IEnumerable<YHSchool.Models.YHForm>

@{
    ViewData["Title"] = "课程列表";
}

<h3>课程列表  <a asp-action="Create" class="btn-sm btn-default btn-success ">新增</a></h3> 

<hr />
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FormCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FormName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MsgTemplate)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Creator)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FormCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MsgTemplate)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                @*<a asp-action="Details" asp-route-id="@item.ID">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
